/*Master styles*/
body {
    margin: 0px;
    grid-template-columns: 1fr;
}
.container {
    display: grid;
    

}
/*Nav Styles*/
.brand {
    font-size: 20px;
    font-family: fantasy;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
 .nav-link-wrapper {
     height: 22px;
     border-bottom: 1px solid transparent;
     transition: border-bottom 0.5s;
 }
 .nav-link-wrapper a {
    color: #8a8a8a; 
    text-decoration: none;
    transition: color 0.5s;
 }
 .nav-link-wrapper :hover {
     border-bottom: 1px solid black;
 }
 .nav-link-wrapper a:hover {
     color: black;
 }
/*Portfolio styles*/

.Portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


}
.Portfolio-item-wrapper {
    position: relative;
}

.Portfolio-img-Background {
height: 350px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.img-text-wrapper {
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-wrapper img {
    width: 50%;
    margin-bottom:20px;
  padding-left: 80px;
  padding-right: 30px;
}
    
.img-text-wrapper   .Subtitle {
    transition: 1s;
    color: transparent;
    font-weight: 600;

}
 .img-text-wrapper:hover   .Subtitle {

font-weight: 600;
color: lightseagreen;    

}
.img-darken {
transition: 1s;
filter: brightness(10%);
}

/*About page*/

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper img {
    width: 100%;
}
.profile-content-wrapper {
    padding: 30px;
    
}
.profile-content-wrapper h1 {
    color: rgb(71, 56, 17);
    font-family: monospace;

}
.profile-content-wrapper p {
    color: rgb(94, 93, 93);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}