html {
    height: 100%;
}
body{
    background-image: url(images/img_1167.jpg);
    background-size:cover ;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
    
    
}
header {
    background-color: black;
    width: 100%;
    height: 36px;
   text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 1px;
}
nav  {


   padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

    
    
}
nav a {
    color: rgb(180, 180, 180);
    padding-left: 20px;
    text-decoration: none;
    transition: color 0.5s;
    
}
nav :hover {
    color: rgb(108, 100, 189);
}
main {
   margin: 20px;
   padding: 0;
    
    
  
   
}
main h1 {
    text-align: center;

    
    color: rgb(46, 100, 146);
    font-family: 'Patrick Hand', cursive;

}
.container-wrapper {
max-width: 760px;


margin: auto;
border: #fff solid 1px;
background: #fff;
}
.main-img img,
.imgs img {
    width: 100%;
    
}
.imgs {
 max-width: 760px;
position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    
    
}
/*Fadie in animation */
@keyframes fadeIn {
 to {
     opacity: 1;
 }   
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/*About page*/
 .header{
    background-color: black;
    width: 100%;
    height: 36px;
   text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 1px; 
 }
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper img {
    width: 100%;
    padding-top: 50px;
}
.profile-content-wrapper {
    padding-left: 5px;
    text-align: center;
    margin-right: 700px;
}
.profile-content-wrapper h1 {
    color: rgb(179, 137, 32);
    font-family: monospace;
margin-right: 250px;
display: inline;
  
}

.profile-content-wrapper p  {
    color: rgb(83, 2, 2);
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
   
}
/* contact page*/

@import url('https://fonts.googleapis.com/css2?family=Roboto');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Roboto', sans-serif; 
}
.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    padding-top: 500px;
    
}
.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background: rgba(118, 119, 118, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;

}
.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    
}
.input-fields,
.msg {
 width: 48%;
}
.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
}
.email {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
}
.subject {
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    width: 100%;
}
.msg textarea {
    height: 212px;
    resize: none;
    width: 250px;
}
::-webkit-input-placeholder{
    color: #c5ecfd;
}
::-moz-input-placeholder{
    color: #c5ecfd;
}
::-ms-input-placeholder{
    color: #c5ecfd;
}
.submit {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    
}
@media screen and (max-width:600px){
    .contact-form {
      flex-direction: column;  
    }
    .msg textarea{
        height: 80px;
    }
}
@media screen and (max-width:320px){
.profile-content-wrapper {
    width: 100%;
    
    }
}  